.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.h2 {
    font-size: 40px;
    border-bottom: 5px solid var(--main-color);
    font-weight: bold;
    margin-top: 92px;
}

.ctTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.ctTitle h3 {
    font-size: 25px;
    margin: 2%;
}

.ctTitle p span {
    font-weight: 900;
}

.aUp {
    align-self: flex-end;
}

@media screen and (max-width: 992px) {
    .h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    .main {
        align-items: center;
    }
    .h2 {
        font-size: 30px;
        text-align: center;
    }
}