.ctDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 5%;
}

.ctDateM {
    display: none;
}

.ctDate h4,
.ctDateM h4 {
    color: var(--white-color);
    text-align: center;
    font-size: 42px;
    border: 2px solid var(--red-color);
    padding: 2%;
}

.ctCities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ctCities li {
    color: var(--red-color);
    list-style-position: inside;
}

.ctCities li span {
    color: var(--white-color);
    font-size: 23px;
}

@media screen and (max-width: 992px) {
    .ctDate {
        display: none;
    }
    .ctDateM {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin: 5%;
    }
    .ctDateM h4 {
        font-size: 25px;
    }
    .ctCities li span {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .ctDateM {
        width: 80%;
    }
}