.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-color);
}

.imgLogo {
    width: 250px;
    height: auto;
    align-self: flex-start;
    margin: 2%;
}

.aButton {
    display: none;
}

.ctImgMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMain{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .aButton {
        display: flex;
        margin: 5%;
    }
    .imgMain{
        animation: bounceYoyo 1.5s ease-in-out infinite;
    }
}

@media screen and (max-width: 576px) {
    .imgLogo {
        align-self: center;
    }
}

@keyframes bounceYoyo {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
