.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-color);
}

.imgLogo {
    width: 250px;
    height: auto;
    align-self: flex-start;
    margin: 2%;
}

.imgMain {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.aButton {
    display: none;
}

@media screen and (max-width: 992px) {
    .aButton {
        display: flex;
        margin: 5%;
    }
}

@media screen and (max-width: 576px) {
    .imgLogo {
        align-self: center;
    }
}