.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.h2 {
    font-size: 40px;
    border-bottom: 5px solid var(--main-color);
    font-weight: bold;
    margin-top: 92px;
}

.ctRegistration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2% 0%;
}

.ctRegistration h3 {
    margin: 2% 0%;
}

.ctRegistration p {
    padding: 0px 100px;
}

.ctRegistration p span {
    font-weight: 900;
}

.ctPayments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 100px;
}

@media screen and (max-width: 992px) {
    .h2 {
        margin-top: 0px;
    }
    .ctRegistration p {
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {
    .main {
        align-items: center;
    }
    .h2 {
        font-size: 30px;
        text-align: center;
    }
    .ctPayments {
        padding: 20px 0px;
    }
    .ctRegistration {
        margin: 10% 0%;
    }
}