.ctRegistration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2% 0%;
    width: 100%;
}

.ctRegistration h3 {
    margin: 2% 0%;
}

.ctRegistration p {
    padding: 0px 100px;
}

.ctRegistration p span {
    font-weight: 900;
}

.ctPayments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 100px;
    margin-bottom: 2%;
}

.ctValidation {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 0 20px 20px 20px;
    align-self: center;
}

@media screen and (max-width: 992px) {
    .ctRegistration p {
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {
    .ctPayments {
        padding: 20px 0px;
    }
    .ctRegistration {
        margin: 10% 0%;
    }
    .ctValidation {
        padding: 20px;
    }
}