.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.h2 {
    font-size: 40px;
    border-bottom: 5px solid var(--main-color);
    font-weight: bold;
    margin-top: 92px;
}

.ctText {
    padding: 50px 100px 0px 100px;
    text-align: justify;
}

.ctUniversities {
    margin-top: 3%;
}

.ctUni {
    padding: 20px 100px 0px 100px;
    text-align: justify;
}

.h3,
.h4 {
    font-size: 25px;
    margin: 2% 0%;
}

.h5 {
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 992px) {
    .h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    .main {
        align-items: center;
    }
    .h2 {
        font-size: 30px;
        text-align: center;
    }
    .ctText {
        padding: 50px 10px 0px 10px;
    }
    .ctUni {
        padding: 20px 10px 0px 10px;
    }
    .ctUniversities {
        margin-top: 50px;
    }
}