.ctHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 92px;
    background-color: var(--main-color);
    padding: 0px 40px;
    box-shadow: 0px 4px 23px -6px rgba(37, 47, 102, 0.45);
    -webkit-box-shadow: 0px 4px 23px -6px rgba(37, 47, 102, 0.45);
    -moz-box-shadow: 0px 4px 23px -6px rgba(37, 47, 102, 0.45);
    position: fixed;
    z-index: 1;
}

.imgLogo {
    width: auto;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.aActive {
    color: var(--white-color);
    font-weight: bold;
    border-bottom: 3px solid var(--white-color);
    line-height: 25px;
    background-color: transparent;
    border: none;
}

.aNoActive {
    color: var(--white-color);
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  .subLink {
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--main-color);
  }
  
  .subLink:hover {
    background-color: var(--main-color);
    color: var(--white-color);
    
  }

@media screen and (max-width: 992px) {
    .ctHeader {
        display: none;
    }
}